%h1= recipe.name
%h4= "Serving size: #{recipe.serving_size}"
= link_to "Edit", edit_recipe_path(recipe), class: "btn btn-primary"
= button_to "Delete", recipe_path(recipe), method: :delete, class: "btn btn-danger"
